<h1>Restaurants</h1>


<% @restaurants.each do |restaurant| %>
  <div>
    - <%= link_to restaurant[:name], restaurant %> | <%= restaurant[:category].capitalize %>
  </div>
<% end %>
<br>
<%= link_to "Add Restaurant", new_restaurant_path %>

